<div
  class="min-h-screen bg-white flex flex-col items-center justify-start py-10"
>
  <div
    class="flex flex-col items-center bg-white shadow-lg rounded-lg p-8 w-full max-w-xl"
  >
    @if (house().photo_path) {
    <img
      [src]="'http://92.112.127.238:8001/' + house().photo_path"
      [alt]="house().name"
      class="w-64 h-48 object-cover rounded mb-4 border"
    />
    } @else {
    <div
      class="w-64 h-48 bg-gray-200 flex items-center justify-center rounded mb-4 border"
    >
      <span class="text-gray-400">Sin imagen</span>
    </div>
    }
    <div class="text-2xl font-medium mb-8 text-center">{{ house().name }}</div>
    <div class="text-3xl font-semibold mb-8 text-center">Características</div>

    <!-- Mapa -->
    <div
      class="w-full h-80 mt-6 rounded border"
      id="map"
      *ngIf="house().latitude && house().longitude && !showRentalForm"
    ></div>

    <!-- Dirección -->
    <p class="text-center text-gray-600 mt-2">
      {{ house().address }}
    </p>
    <p>Provincia : {{ house().province }}</p>
    <p class="text-lg text-gray-700 text-center mb-6">
      {{ house().description }}
    </p>
    <div class="flex items-center justify-center w-full gap-6">
      <button
        class="bg-blue-600 text-white px-6 py-2 rounded hover:bg-blue-700 transition mb-2"
        (click)="mostrarFormularioAlquiler()"
      >
        Alquilar
      </button>

      <button
        class="bg-green-600 text-white px-6 py-2 rounded hover:bg-green-700 transition mb-2"
        [routerLink]="['/home']"
      >
        Inicio
      </button>
    </div>

    @if (showRentalForm && usuarioActual() && usuarioActual().id &&
    usuarioActual().name) {
    <app-house-form
      [user]="usuarioActual()"
      [house]="house()"
      (close)="cerrarFormularioAlquiler()"
    ></app-house-form>
    }
  </div>
</div>
