<div class="profile-container">
  <h2>Perfil de Usuario</h2>
  <div class="profile-card">
    <div class="profile-field">
      <span class="label">Nombre:</span>
      <span class="value">{{ usuarioActual().name }}</span>
    </div>
    <div class="profile-field">
      <span class="label">Primer apellido:</span>
      <span class="value">{{ usuarioActual().surname1 }}</span>
    </div>
    <div class="profile-field">
      <span class="label">Segundo apellido:</span>
      <span class="value">{{ usuarioActual().surname2 }}</span>
    </div>
    <div class="profile-field">
      <span class="label">Alias:</span>
      <span class="value">{{ usuarioActual().alias }}</span>
    </div>
    <div class="profile-field">
      <span class="label">Email:</span>
      <span class="value">{{ usuarioActual().email }}</span>
    </div>
    <div class="profile-field">
      <span class="label">Fecha de nacimiento:</span>
      <span class="value">{{ usuarioActual().birth_date }}</span>
    </div>

    <button class="edit-btn" disabled>Editar perfil</button>
  </div>
</div>
