<nb-card *ngIf="loadingStats || loadingReservations">
  <nb-spinner></nb-spinner>
  <p>Cargando estadísticas...</p>
</nb-card>

<div class="stats-cards mt-10">
  <nb-card class="stat-card primary-card">
    <nb-card-header>Total Reservas</nb-card-header>
    <nb-card-body>
      <div class="stat-number">{{ totalReservations }}</div>
    </nb-card-body>
  </nb-card>

  <nb-card class="stat-card success-card">
    <nb-card-header>Total Huéspedes</nb-card-header>
    <nb-card-body>
      <div class="stat-number">{{ totalGuests }}</div>
    </nb-card-body>
  </nb-card>

  <nb-card class="stat-card info-card">
    <nb-card-header>Total Casas</nb-card-header>
    <nb-card-body>
      <div class="stat-number">{{ totalHouses }}</div>
    </nb-card-body>
  </nb-card>
</div>
<div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-6">
  <nb-card>
    <h2
      class="text-2xl font-bold mb-2 text-gray-800 justify-center self-center mr-40"
    >
      Reservas y Huéspedes Mensual
    </h2>
    <nb-card>
      <echarts
        [options]="reservationsChartOptions"
        class="echart-bar"
      ></echarts>
    </nb-card>
  </nb-card>

  <nb-card *ngIf="!loadingStats && stats">
    <h2 class="text-2xl font-bold mb-2 text-gray-800 self-center mr-72">
      Tasa de Ocupación Mensual
    </h2>

    <nb-card>
      <echarts [options]="occupancyChartOptions" class="echart-pie"></echarts>
    </nb-card>
  </nb-card>
</div>
