<div class="formulario-reserva">
  <h2>Reserva para {{ house().name }}</h2>
  <p><strong>Características:</strong> {{ house().description }}</p>

  <h3>Datos del usuario</h3>
  <p>Nombre: {{ user().name }}</p>
  <p>Email: {{ user().email }}</p>

  <form [formGroup]="reservaForm" (ngSubmit)="onSubmit()" novalidate>
    <label for="fecha_inicio">Fecha de inicio:</label>
    <input
      id="fecha_inicio"
      type="date"
      formControlName="fecha_inicio"
      required
    />

    <label for="fecha_fin">Fecha de fin:</label>
    <input id="fecha_fin" type="date" formControlName="fecha_fin" required />

    <label for="num_personas">Número de personas:</label>
    <input
      id="num_personas"
      type="number"
      formControlName="num_personas"
      min="1"
    />

    <button type="submit" class="btn btn-blue" [disabled]="reservaForm.invalid">
      Enviar reserva
    </button>
  </form>
</div>
