<header class="header h-24">
  <div class="header-container">
    <div class="logo-container h-16">
      <img src="images/logo.png" class="h-48 w-auto" alt="Logo" />
    </div>
    <div class="company-name mr-20 h-20">
      <h1>{{ companyName }}</h1>
    </div>
    <div *ngIf="!hideMenu" class="relative flex items-center gap-4">
      <!-- Botón de menú/avatar -->
      <button
        class="flex items-center gap-2 px-4 py-2 bg-indigo-600 text-white rounded-md hover:bg-indigo-700 transition-colors focus:outline-none"
        (click)="showMenu = !showMenu"
      >
        <span class="hidden sm:inline">Menú</span>
      </button>
      <!-- Submenú -->
      <div *ngIf="showMenu" class="header-submenu">
        <ng-container *ngIf="isAdminRoute; else userMenu">
          <a
            (click)="router.navigate(['/admin/home']); showMenu = false"
            class="block px-4 py-2 text-gray-700 hover:bg-indigo-100 cursor-pointer"
            >Dashboard</a
          >
          <a
            (click)="router.navigate(['/admin/house-form']); showMenu = false"
            class="block px-4 py-2 text-gray-700 hover:bg-indigo-100 cursor-pointer"
            >Agregar casa</a
          >
          <a
            (click)="router.navigate(['/admin/houses']); showMenu = false"
            class="block px-4 py-2 text-gray-700 hover:bg-indigo-100 cursor-pointer"
            >Ver casas</a
          >

          <!-- Puedes añadir más enlaces de admin aquí -->
          <div class="border-t my-1"></div>
          <a
            (click)="logout(); showMenu = false"
            class="block px-4 py-2 text-red-600 hover:bg-red-100 cursor-pointer"
            >Cerrar sesión</a
          >
        </ng-container>

        <ng-template #userMenu>
          <a
            (click)="router.navigate(['/home']); showMenu = false"
            class="block px-4 py-2 text-gray-700 hover:bg-indigo-100 cursor-pointer"
            >Inicio</a
          >
          <a
            (click)="router.navigate(['/profile']); showMenu = false"
            class="block px-4 py-2 text-gray-700 hover:bg-indigo-100 cursor-pointer"
            >Perfil</a
          >
          <a
            (click)="router.navigate(['/reservas']); showMenu = false"
            class="block px-4 py-2 text-gray-700 hover:bg-indigo-100 cursor-pointer"
            >Reservas</a
          >
          <div class="border-t my-1"></div>
          <a
            (click)="logout(); showMenu = false"
            class="block px-4 py-2 text-red-600 hover:bg-red-100 cursor-pointer"
            >Cerrar sesión</a
          >
        </ng-template>
      </div>
    </div>
  </div>
</header>
