<header class="header">
  <div class="header-container">
    <div class="logo-container">
      <img [src]="logoPath" alt="Logo de {{ companyName }}" class="logo" />
    </div>
    <div class="company-name">
      <h1>{{ companyName }}</h1>
    </div>
    <div class="flex items-center gap-4">
      <!-- Botón de perfil -->
      <button 
        class="px-4 py-2 bg-indigo-600 text-white rounded-md hover:bg-indigo-700 transition-colors"
        (click)="router.navigate(router.url === '/profile' ? ['/home'] : ['/profile'])"
      >
        {{ router.url === '/profile' ? 'Inicio' : 'Perfil' }}
      </button>
      
      <!-- Botón de cerrar sesión -->
      <button 
        class="px-4 py-2 bg-red-600 text-white rounded-md hover:bg-red-700 transition-colors"
        (click)="logout()"
      >
        Cerrar sesión
      </button>
    </div>
  </div>
</header>
